h1 {
  color: #00f;
  text-align: center;
  font-family: sans-serif;
}

h2 {
  color: green;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
  font-family: Helvetica;
}

ol {
  font-family: Helvetica;
}

img {
  width: 300px;
  text-align: center;
}

p.intro {
  width: 50%;
  font-style: italic;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

.important {
  color: red;
}

.unimportant {
  color: blue;
}

.highlight {
  color: blueviolet;
}

.fish-type {
  color: goldenrod
}

img {
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  background-color:yellow;
}

.column {
  width: 300px;
  float: left;
}

.my-class {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}
.box1 {
  width: 50%;
  border: solid black;
  border-width: 1px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box2 {
  width: 50%;
  padding: 20px;
  border: solid black;
  border-width: 20px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box3 {
  width: 50%;
  padding: 50px;
  border: solid black;
  border-width: 30px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;
}
